
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.btn-create {
    font-size: 12px;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 5px;
    margin-top: 30px;
}

.input-field {
    border: 1px solid #d1d5db;
    padding: 8px;
    border-radius: 5px;
}

.input-field:focus {
    outline: none;
    box-shadow: 0 0 0 1px #3b82f6;  
}

.btn-sign-up {
    font-size: 12px;
    color: white;
    background-color: rgb(24, 24, 235);
    border-radius: 5px;
    padding: 10px;
}
.btn-sign-up:hover {
    background-color: rgb(0, 0, 99);
}

.btn-login {
    font-size: 12px;
    color: white;
    background-color:black;
    border-radius: 5px;
    padding: 10px;
}

.btn-support {
    font-size: 12px;
    color: white;
    border-radius: 3px;
    padding: 6px 12px;
    background-color: rgb(24, 24, 235);
}

.btn-support:hover {
        background-color: rgb(0, 0, 99);
}

.btn-continue {
    font-size: 12px;
    color: white;
    border-radius: 3px;
    padding: 6px 12px;
    background-color: rgb(24, 24, 235);
}

.btn-next {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    background-color: rgb(24, 24, 235);
    border-radius: 3px;
    padding: 6px 12px;
    gap: 6px;
}

.btn-next:hover {
    background-color: rgb(0, 0, 99);
}
.hero {
    width: 35%;
}

.started {
    font-size: 15px;
    font-weight: 600;
}
@media (min-width: 640px) {
.started {
    font-size: 20px;
    font-weight: 600;
}
}
.started-1 {
    font-size: 10px;
    padding-right:10px ;
    margin-bottom: 20px;
    
}

.btn-confirm {
    font-size: 8px;
    color: white;
    border-radius: 3px;
    padding: 10px 50px;
    background-color: rgb(24, 24, 235);
    margin-bottom: 40px;
}
.btn-confirm:hover {
    background-color: rgb(0, 0, 99);
}

.let-us {
    font-size: 9px;
    margin-bottom: 30px;
}
.dash-line {
    margin-bottom: 30px;
}
.copy-paste {
    font-size: 11px;

}
.link-text {
    font-size: 11px;
    color: rgb(28, 28, 126);
    margin-bottom: 40px;
}

.last-part {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    padding: 6px;
    color: gray;
}
.small-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:190px;
    height: 220px;
    background-color: rgba(4, 4, 209, 1);
    margin-left: -170px;
    margin-top: 100px;
    margin-right: 20px;
    z-index: 0;
    padding: 10px;

}
.www {
    font-size: 8px;
}
.hash-tag {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    margin-top: 50px;
    gap: 80px;
}