* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Space Grotesk", sans-serif;
    background: white;
    color: black;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}


.header{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: white;
    padding: 20px 60px;
     max-width: 1400px;
    margin: 0 auto;
  
}
.logo {
    font-size: 26px;
    text-decoration: none;
    font-weight: 600;

}
.logo a {
    text-decoration: none;
    color: #000000;
}
/*
.header img {
    height: 30px;
    background-color: #081b29;
    width: auto;
    filter: drop-shadow(0 0 6px rgba(0,0,0,0.4));
    border: #081b29;
}
*/

 nav a {
    display: inline-block;
    font-size: 18px;
    color: rgb(14, 13, 13);
    text-decoration: none;
    margin-left: 35px;
   
   
 }

 nav a:hover,
 nav a.active {
   
    color: #00abf0;
 }
  
 .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
 }
 .sidebar a {
    width: 100%;
    padding: 20px 0;
 }

 .menu-button {
    display: none;
 }

 @media (max-width: 800px ) {
    .hideOnMobile {
        display: none;
    }
    .menu-button {
        display: block;
    }

.header{
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: white;
    padding: 20px 20px;
     max-width: 1200px;
    margin: 0 auto;
  
} 
 }


 .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
    width: auto;
    padding: 10px 20px;
    background: transparent;
    cursor: pointer;
 }

 .home {
    display: flex;
    padding-top: 100px;
    padding-left:60px;
    padding-right: 60px;
    justify-content: space-between;
  
}


.home-content {
    max-width: 400px;
}
.home-content h1 {
    font-size: 40px;
    font-weight: 700;
    margin: -3px 0;
    line-height: 1.2;
}
.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
     line-height: 1.2;
}
.cta {
     display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    border: 1px solid black;
    width: auto;
    padding: 10px 20px;
    background: black;
    cursor: pointer;
}
.home-img img {
    max-width: 350px;
}
@media (max-width: 800px) {
.home {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
      padding-left:20px;
    padding-right: 20px;
}

.home-content {
    max-width: 600px;
}
.home-img img {
    max-width: 600px;
}
}

.mobile-img img {
    display: none;
}

.desktop-img img{
    display: block;
}

@media (max-width: 800px) {
    .home-img img {
    max-width: 350px;
    display: none;
 }
 .mobile-img img {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .desktop-img img {
    display: none;
 }
 .cta {
    width: 100%;
    display: block;
    margin: 25px 0 0 0;
    font-size: 16px;
    padding: 20px 0;
 }
}

.hero {
    display: flex;
    flex-direction: column;
}

.company-logos {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 20px 60px;
}

.company-logos img {
    height: 30px;
    width: auto;
}
.company-logos .logo-size {
    height: 100px;
    width: auto;
}

@media (max-width: 800px) {
.hero {
    display: grid;
    justify-content: center;
    align-items: center;
     padding: 0 40px;
}

.company-logos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}
.company-logos img {
    height: 20px;
    width: auto;
    margin: 0 20px;
}
.company-logos .logo-size {
    height: 80px;
    width: auto;
}

}




/*------------- Case Services --------------*/
.services {
    display: inline-flex;
    gap: 40px;
    padding: 40px 60px;
    max-width: 800px;
}
.services h1 {
    background-color: #b9ff66;
    padding: 2px 6px;
    border-radius: 4px;
    
}
.services p {
    max-width: 800px;
}

@media (max-width: 800px) {
.services {
    display:block;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
    max-width: 600px;
       
}
.services h1 {
    display: inline-block;
    background-color: #b9ff66;
    padding: 2px 6px;
    border-radius: 4px;
    text-align: center;
    margin: 20px 0;

}
}


.cards {
    display: grid;
     grid-template-columns: 1fr;
    gap: 25px;
    padding: 20px 60px;
   
}

.all-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f3f3f3;
    height: auto;
    width: auto;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px 20px ;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    overflow: hidden;
}

 .cards-img img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
  
}
.engine {
    padding: 0 20px;
   
}
.engine h2 {
    font-size: 18px;
    background: #b9ff66;
    border-radius: 6px;
    padding: 2px 6px;
}
.engine h4 {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 80px;
    background: #b9ff66;
    border-radius: 6px;
    padding: 2px 6px;
}

.arrow a {
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
}

.arrow h3 {
    font-size: 12px;
    margin:20px 0;
}

.arrow img {
    height: 30px;
}

@media (max-width: 450px) {
.cards {
    display: grid;
     grid-template-columns: 1fr;
    gap: 25px;
    padding: 20px 20px;
   
}

.cards-img img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  
}
.all-cards {
    display: flex;
    justify-content: space-around;
    align-items: end;
    background: #f3f3f3;
    height: auto;
    width: auto;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    padding: 20px 0px ;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    overflow: hidden;
}

.engine h2 {
    font-size: 16px;
    background: #b9ff66;
    border-radius: 6px;
    padding: 2px 6px;
}
.engine h4 {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 80px;
    background: #b9ff66;
    border-radius: 6px;
    padding: 2px 6px;
}

}
@media (max-width: 600px) {
    .cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    padding: 20px 20px;
    max-width: 600px;
   
}
}

@media (min-width: 800px) and (max-width: 1023px) {
   .cards {
    grid-template-columns:repeat(2, 1fr);
    gap: 30px;
}

.cards-img img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;

}

.engine h2 {
    font-size: 16px;
    background: #b9ff66;
    border-radius: 6px;
    padding: 2px 6px;
}
.engine h4 {
    display: inline-block;
    font-size: 16px;
    margin-bottom: 80px;
    background: #b9ff66;
    border-radius: 6px;
    padding: 2px 6px;
}

.arrow h3 {
    font-size: 12px;
    margin:10px 0;
}

}
@media (min-width: 1024px) and (max-width: 1249px) {
      .cards {
    grid-template-columns:repeat(2, 1fr);
    gap: 30px;
}

.cards-img img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;

}

.engine h2 {
    font-size: 20px;
    background: #b9ff66;
    border-radius: 6px;
    padding: 2px 6px;
}
.engine h4 {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 80px;
    background: #b9ff66;
    border-radius: 6px;
    padding: 2px 6px;
}

.arrow h3 {
    font-size: 12px;
    margin:30px 0;
}

}

@media (min-width: 1250px) {
    .cards {
    grid-template-columns:repeat(2, 1fr);
    gap: 30px;
}


.cards-img img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;

}

.engine h2 {
    font-size: 20px;
    background: #b9ff66;
    border-radius: 6px;
    padding: 2px 6px;
}
.engine h4 {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 80px;
    background: #b9ff66;
    border-radius: 6px;
    padding: 2px 6px;
}

.arrow h3 {
    font-size: 12px;
    margin:30px 0;
}
}



.long-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f3f3f3;
    height: auto;
    width: auto;
    color: black;
    border-radius: 20px;
    padding: 10px 20px ;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    margin: 50px 60px;
}

.text-card {
     max-width: 450px;
     padding: 20px;
}
.text-card h2 {
    font-size: 26px;
     padding: 20px 0;
}
.text-card h4 {
     padding: 20px 0;
}


.text-card button {
    background: black;
    width: auto;
    height: auto;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 20px 30px ;
    margin: 20px 0;
}
.text-card a button {
    font-size: 18px;
}

.wide-cards-img img {
    display: block;
    height: 250px;
    padding:0 20px;
}

@media (max-width: 800px ) {
.long-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f3f3f3;
    height: auto;
    width: auto;
    color: black;
    border-radius: 20px;
    padding: 0 10px ;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    margin: 20px 20px;
}
.text-card h2 {
    font-size: 26px;
     padding: 10px 0;
}
.text-card h4 {
     padding: 20px 0;
}

.wide-cards-img img {
    display: none;
 
} 
.text-card button {
    background: black;
    width: auto;
    height: auto;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 20px 40px ;
    margin: 20px 0;
}
.text-card a button {
    font-size: 16px;
}

}




/*----------------- Case Studies -----------------*/
.case-services {
    display: inline-flex;
    align-items: center;
    gap: 40px;
    padding: 20px 60px;
  
}

.case-services h1 {
    background-color: #b9ff66;
    padding: 2px 8px;
    border-radius: 4px;
    
}
.case-services p {
      max-width: 400px;
}

.long-cards-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    height: auto;
    width: auto;
    color: black;
    border-radius: 20px;
    padding: 20px 20px ;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
    overflow: hidden;
    margin: 50px 60px;
    
}

.divides {
    position: relative;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    padding: 20px;
}
.divides button {
    background: transparent;
    border: none;
    color: #b9ff66;
}

.divides a {
    color: #b9ff66;
    text-decoration: none;
    display: inline-block;
    padding: 10px 0 ;
    cursor: pointer;
}

.learn-more {
    display: flex;
    align-items: center;
    gap: 10px;
}
.vertical-line {
     border-left: 1px solid #9c9b9b ;
     padding: 70px 10px;
}

.mobile-card {
    display: none;
}

@media (max-width: 800px) {  
.case-services {
    display: block;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 0 60px;
    max-width: 600px;      
}

.case-services h1 {
    display: inline-block;
    background-color: #b9ff66;
    padding: 2px 6px;
    border-radius: 4px;
    text-align: center;
    margin: 20px 0;  
}

.long-cards-2 {
    display: none;
}

.mobile-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 60px;
    max-width: 600;
  
}

.mobile-card::-webkit-scrollbar {
    display: none;
}

.slider-wrapper {
    display: flex;
    aspect-ratio: 16 / 9;
    align-items: center;
    gap: 1rem;
    overflow-x: auto;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    border-radius: 1.5rem;
    max-width: 600;
    height: 200px;
    width: 320px;
    scrollbar-width: none;
  
}
    
.slider {
    flex: 1 0 100%;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    padding: 20px 40px;
    position: relative;
    background: black;
    max-width: 600;
    border-radius: 10%;
    color: gray;
    object-fit: cover;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scroll-snap-align: start;

}

.slider-wrapper .slider h3 {
    font-size: 16px;
    max-width: 400px;
    padding-top: 20px;
}

.slider-wrapper button {
    background: transparent;
    border: none;
    color: white;
  
}

.slider-wrapper a  {
    color: #b9ff66;
    text-decoration: none;
    display: inline-block;
    padding: 10px 0 ;
    cursor: pointer;
}

}



/*-------------- Working Process ---------------*/
.process {
    display:inline-flex;
    padding: 20px 60px;
    gap: 40px;
    align-items: center;
}

.process h1 {
    background: #b9ff66;
    text-align: center;
}
.process p {
    max-width: 300px;
}

.process .desktop-remove {
    display: none;
}

/*
.long-cards-3 {
    justify-content: space-between;
    align-items: center;
    background: #f3f3f3;
    height: auto;
    width: auto;
    color: black;
    border-radius: 20px;
    padding: 0 40px ;
    border-top: 1px  solid #000;
    border-right: 1px  solid #000;
    border-left: 1px  solid #000;
    border-bottom: 5px  solid #000;
    overflow: hidden;
    margin: 50px 60px 0 60px;
}
*/
.minus.active  {
    background: #b9ff66;
}

.minus.active #hiddenText {
    display: block;
}

.minus.active #toggleIcon #verticalLine  {
display: none;
}

.minus {
   
    padding: 40px 0;
     background: #f3f3f3;
    color: black;
    border-radius: 30px;
    border-top: 1px  solid #000;
    border-right: 1px  solid #000;
    border-left: 1px  solid #000;
    border-bottom: 5px  solid #000;
      height: auto;
    width: auto;

    padding: 20px 40px ;
    overflow: hidden;
    margin: 20px 60px;
}
.consult {
    display: flex;
    justify-content: space-between;
    align-items: center;
   padding: 20px 30px;
}
.small-gap {
    display: flex;
    align-items: center;
    gap: 50px;
}
.consult h1 {
    font-size: 46px;
}

.long-cards-3 h4 {
    padding: 40px 0;
}
.long-cards-4 h4 {
    padding: 40px 0;
}
.long-cards-3 hr  {
    display: block;
} 
.long-cards-3 h4  {
    display: block;
} 

.circle {
    display: inline-flex;
    background-color: #f3f3f3;
    border: 1px solid #000;
    border-radius: 18px;
    padding: 4px;
}

.circle svg {
    cursor: pointer;
}
#hiddenText {
    display: none;
    margin-top: 10px;
}

@media (max-width: 800px) {
.process {
    display: block;
    flex-direction: column;
    justify-content: center;
   text-align: center;
    padding: 20px 20px;
    gap: 40px;
 
}

.process h1 {
    display: none;
    background-color: #b9ff66;
    justify-content: center;
    padding: 2px 0;
    border-radius: 4px;
    align-items: center;
    margin: 20px 0;
    max-width: 300px;
 
}

.process .desktop-remove {
     display: inline-block;
     flex-direction: column;
    background-color: #b9ff66;
    justify-content: center;
    padding: 2px 0;
    border-radius: 4px;
    align-items: center;
    max-width: 300px;
}

.process h2 {
    font-size: 28px;
}

.process h3 {
    font-size: 26px;
    margin-bottom: 20px;
}

.process p {
    font-size: 20px;
    max-width: 400px;
    text-align: center;
}

.long-cards-3 {
    justify-content: space-between;
    align-items: center;
    background: #f3f3f3;
    height: auto;
    width: auto;
    color: black;
    border-top: 1px  solid #000;
    border-right: 1px  solid #000;
    border-left: 1px  solid #000;
    border-bottom: 5px  solid #000;
    border-radius: 40px;
    padding: 0 20px ;
    overflow: hidden;
    margin: 0px 20px;
}

.long-cards-3.active {
background: none;
}

.long-cards-4 {
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: auto;
    color: black;
    border-radius: 40px;
    overflow: hidden;
    margin: 20px 0px;
}

.minus {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
.minus {
   
    padding: 40px 0;
     background: #f3f3f3;
    color: black;
    border-radius: 50px;
    border-top: 1px  solid #000;
    border-right: 1px  solid #000;
    border-left: 1px  solid #000;
    border-bottom: 5px  solid #000;
      height: auto;
    width: auto;
    padding: 20px 0px ;
    overflow: hidden;
    margin: 20px 20px;
}

.consult {
    display: flex;
    align-items: center;

    gap: 10px;
}

.consult h1 {
    font-size: 30px;
}
.consult h2 {
    font-size: 12px;
}

.long-cards-3 h4 {
    padding: 40px 0;
}

.circle {
    display: inline-flex;
    background-color: #f3f3f3;
    border: 1px solid #000;
    border-radius: 18px;
    padding: 1px;
}

.long-cards-3  hr  {
    display: none;
} 

.long-cards-3 h4  {
    display: none;
} 
}



/*------------- Team ------------*/
.short-card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    padding: 20px 60px;
}

@media (max-width: 799px) {
    .short-card {
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    padding: 20px 20px;
}

   }

@media (min-width: 800px) and (max-width: 1023px) {
.short-card {
        grid-template-columns: repeat(2 1fr);
        gap: 30px;
    }
}

@media (min-width: 1024px) and (max-width: 1249px) {
.short-card {
    grid-template-columns:repeat(3, 1fr);
    gap: 30px;
    
}
}

@media (min-width: 1250px) {
.short-card {
    grid-template-columns:repeat(3, 1fr);
    gap: 30px;
   
}
}

.inner-card {
    background: white;
    border: 1px solid #000;
    border-radius: 30px;
    width: auto;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.25);
    padding: 20px 40px;
}

.butterfly {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.name {
     display: flex;
     align-items: end;
     gap: 20px;
}

.name h2 {
    font-size: 16px;
}

.butterfly img {
    height: 70px;
}

.line {
    border: none;
    border-top: 1px solid #000;
 
}

.inner-card .tenyears p {
    padding: 20px 0;
}

#card-remove {
    display: block;
}

.btn-team {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px 60px;
}

.btn-team button {
    background: #000;
    padding: 20px 60px;
    border-radius: 12px;
    color: #f3f3f3;
    
}

@media (max-width: 800px) {
#card-remove {
    display: none;
}    

.btn-team {
    display: block;
    align-items: center;
     padding: 20px 20px;
}

.btn-team button {
    background: #000;
    padding: 20px 60px;
    margin-top: 0;
    border-radius: 12px;
    color: #f3f3f3;
    width: 100%;
}
}


/*----------- Testimonials -----------------*/
.page-container {
    margin: 0 60px;
}


.testimonial-flex {
    display: flex;
    flex-direction: column;
    background: #000;
    padding:60px 0px;
    margin:0;
    border-radius: 30px;
    overflow: hidden;
}

.testimonial-wrapper {
    display: flex;
    color: #f3f3f3;
    overflow: hidden;
    width: 100%;
    position: relative;
       justify-content: center;
    scrollbar-width: none;
    padding-bottom: 40px ;

}
.testimonial-slides {
    display: flex;
    gap: 0;
    transition: transform 0.4s ease;
}


.testimonial-track {
    min-width: 100%;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    align-items: center;
    gap: 40px;
}


.testimonial-track::-webkit-scrollbar {
    display: none;
}

.testimonial-card {
    
    background: transparent;
    border: 1px solid #78ff55;
    border-radius: 30px;
    padding: 40px 40px;
    position: relative;
    scroll-snap-align: center;
   display: flex;
   align-items: center;
   justify-content: center;
   max-width: 800px;

}

.testimonial-card::after {
    content: "";
    position: absolute;
    bottom: -15px;
    left: 50px;
    width: 25px;
    height: 25px;
    background: #000;
    border-right: 1px solid #78ff55;
    border-bottom: 1px solid #78ff55;
    transform: rotate(45deg);
}

.author h4 {
    color: #9cff6a;
  
}

.author small {
    color: #f3f3f3;
  padding-right: 500px;
}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-top: 60px ;
}

.control button {
    background: none;
    border: none;
    color: #666;
    font-size: 20px;
    cursor: pointer;
}
.dots {
    display: flex;
    gap: 10px;
}
.dot {
    cursor: pointer;
}

 .dot.active path  {
    fill: #b9ff66;
   
}

@media (max-width: 800px) {
.mobile-services {
    margin: 0 0 20px 0;
}

.testimonial-flex {
    display: flex;
    flex-direction: column;
    background: #000;
    padding: 20px 0;
    margin:0 20px;
    border-radius: 30px;
}

.testimonial-card {
    min-width: 300px;
    background: transparent;
    border: 1px solid #78ff55;
    border-radius: 30px;
    padding: 40px 40px;
    position: relative;
    scroll-snap-align: center;

}

.author small {
    font-size: 12px;
    color: #f3f3f3;
    padding: 0 60px;

}

.control {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 60px ;
}
}




/*-------------- Contact Us ----------------*/
.contact-services {
    margin: 40px 0 0 0;
}

.contact-services p{
    max-width: 280px
}

.long-cards-5 {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px;
    margin: 20px 60px;
    background: #f3f3f3;
    width: auto;
    color: black;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
   
}

.select {
    position: absolute;
    top: 50px;
    left: 40px;
    display: flex;
    gap: 20px;
    
}

.mobile-select {
    display: none;
}

.contact-us {
    flex: 1;
    margin-top: 50px;
    max-width: 500px;
    padding-left: 40px;
}
.contact-us label {
    display: block;
    margin-top: 20px;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}

.contact-us input,
.contact-us textarea {
    width: 100%;
    padding: 15px;
    background: #fff;
    color: black;
    border:1px solid #ccc;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
}

.contact-us   textarea {
    min-height: 150px;
    resize: none;
}

.contact-us button {
    background: #111;
    padding: 15px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 12px;
    color: #f3f3f3;
    width: 100%;

}

.contact-us button:hover {
    opacity: 0.9;
}

.toggle{
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 6px;
}

.toggle input {
    display: none;
}

.toggle .dots {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    border: 2px solid #ccc;
    background: #fff;
}
.toggle input:checked + .dots {
    background: #b9ff66;
    background-color: #b9ff66;
}

.img img {
    display: block;
    height: 500px;
    width: 300px;
    margin-left: 20px;
}

@media (max-width: 800px) {

.long-cards-5 {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
    margin: 20px 20px;
    background: #f3f3f3;
    width: auto;
    color: black;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
}

.contact-us {
    flex: 1;
    margin-top: 20px;
    max-width: 500px;
    padding-right: 40px;
}

.contact-us button {
    background: #111;
    padding: 15px;
    margin: 20px 0;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 12px;
    color: #f3f3f3;
    width: 100%;
}

.mobile-select {
    position: absolute;
    top: 50px;
  
    display: flex;
    align-items: center;
    gap: 60px;
}

.select {
    display: none;
}

.img img {
    display: none;
    height: 500px;
    width: 400px;
    margin-left: 20px;
}

}



/*------------- FOOTER ------------------ */
.footer {
    display: block;
    background: #111;
    margin: 40px 60px 0 60px;
    padding: 20px;
    border: none;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-left-radius: 0;
    color: white;
}
.top-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    width: 100%;
    padding: 20px 10px;
    margin: auto;
}
.footer-logo {
    display: flex;
    align-items: center;
}

.footer-logo a {
    list-style: none;
    text-decoration: none;
    color: white;
    font-size: 28px;
    font-weight: 200;
}
.footer-nav {
    display: flex;
    padding: 0 20px;

}
.footer-nav ul {
    display: flex;
    text-decoration-line: underline;
    list-style: none;
     padding: 0 20px;
}
.footer-nav ul a {
    font-size: 14px;
     text-decoration-line: underline;
    list-style: none;
    color: #f3f3f3;
}
.socials {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-right: 20px;
}
.mobile-socials {
    display: none;
}
.footer-middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;

}
.footer-middle a button{
    font-size: 18px;
}
.footer-middle .contacts button {
    background: #b9ff66;
    padding: 2px 4px;
    margin: 10px  0;
    border: none;
    border-radius: 6px;
}

.contacts p{
    font-size: 14px;
    padding:10px 0;
}
.news {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    background: #2b2b2b;
    padding: 30px;
    border: none;
    border-radius: 8px;

}
.news input {
    flex: 1;
    background: transparent;
    border: 1px solid #ccc;
    border-radius: 8px;
    color: white;
    padding: 10px 10px;
    outline: none;
}
.news input:focus {
    border-color: #888787;
}

.footer-middle .news button {
    background: #b9ff66;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    color: #000;
    padding: 10px 25px;

}
.footer-bottom {
    display: flex;
    align-items: center;
    gap: 40px;
    flex-direction: row;
    margin: 40px 20px 20px 20px;
 
}
.footer-bottom a {
    color: #fff;
    text-decoration: underline;
}


@media (max-width: 800px) {
.footer {
    display: block;
    background: #111;
    margin: 40px 0 0 0;
    padding: 60px;
    border: none;
    border-radius: 2px;
    color: white;
    align-items: center;
}

.top-footer, 
.footer-middle,
.footer-bottom {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.top-footer {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: right;

}
.footer-nav ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px 60px 0 20px;
    gap: 20px;
}
.footer-nav ul a {
    font-size: 14px;
    text-decoration-line: underline;
    list-style: none;
    color: #f3f3f3;
}

.footer-middle {
    gap: 30px;
}
.news {
    flex-direction: column;
    width: 100%;
}

   
.news input,
.news button {
    width: 100%;
    padding: 20px 20px;
}
.footer-middle .news button {
    padding: 20px 0;
}

.footer-middle .contacts button {
    background: #b9ff66;
    padding: 2px 4px;
    margin: 10px  0;
    border: none;
    border-radius: 6px;
}
.contacts p{
    font-size: 14px;
    padding:5px 0;
}

.socials {
    display: none;
}
.mobile-socials {
    display: flex;
    gap: 20px;
}
.footer-bottom {
    gap: 15px;
}
}